
<html>
<head>

	<meta charset="utf-8">
	<title>

		JTR Solutions

	</title>
	
</head>
<style type="text/css">

	th{

		padding: 10px;
		color: rgb(202, 202, 202);
		font-size: 22;
		border-collapse: collapse;
		width: 120px;
		background-color: #cb4444;
		
	}
	table{

		display: flex;
 		justify-content: center;
		background-color: #cb4444;
	}
</style>
	<body>
		
		<div style="display: flex;	justify-content: center">
			<div style="width: 100%; text-align: left; font-size: 30">Company: ROGEXIS INC.</div>
			<div style="width: 100%; text-align: right; font-size: 20">User: rogexis</div>
		  </div>
		<table>
			

				{% for i in pestanias %}
				
				<th>{{i}}</th>

				{% endfor %}
			
		</table>
		<h1>
			Welcome to the beat Power Billing and Monitoring System
		<br>
			Login hour: {{ahora}}


		</h1>
	</body>
</html>